<h1> Topics </h1>

<ul>
  <li><%= link_to 'New thread', new_article_path, class: 'nav_link' %></li>
</ul>

<table class='center_panel'>
  <tr>
    <th>Title</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td class='article_title'><%= article.title %></td>
      <td><%= link_to (pluralize(article.comments.length, 'response')), article_path(article), class: 'index_link' %></td>
      <td><%= link_to image_tag("edit.png", class: 'logo'), edit_article_path(article)%></td>
      <td><%= link_to image_tag("delete.png", class: 'logo'), article_path(article), method: :delete, data: { confirm: 'Are you sure?'}%></td>
    </tr>
  <% end %>

</table>
